*{
    font-family: sans-serif;
    /* border: red solid 2px; */
}

#container{
    text-align: center;
}

#input{
    margin: 15px 4px 4px;
}

#input > input{
    width: 80px;
    text-align: center;
    text-decoration: none;
}

#error{
    font-size: 12px;
    color: red;
    margin-top: 0px;
}

#x{
    display: inline;
}

#grid{
    margin: 15px auto 0px auto;
    margin-top: 15px;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.column{
    width: 30px;
    aspect-ratio: 1;
    border: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hovered{
    background-color: red;
}